@import "/src/assets/settings";

.wind-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: $gap-within-card;
    max-width: auto;
    height: 500px;
    max-height: 500px;
    border-radius: $card-border-radius;
    padding-bottom: 1rem;
    //overflow: auto;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5px #333;
    }
    
    .preview-image {
        display: block;
        width: auto;
        height: 50%;
        
        img {
            object-fit: contain;
            display: block;
            border-radius: $card-border-radius;
            height: 100%;
            width: 100%;
            object-fit: cover;
            //max-width: 395px;
            //max-height: 269px;
        }
    }

    .title,
    .description {
        margin-inline: 2%;
    }

    .title {
        display: grid;
        grid-template-columns: 4fr 1fr;
        width: 100%;
        gap: 1em;
        font-family: 'Montserrat';
        
        
        span.name {
            display: flex;
            align-items: center;
            width: auto;
            gap: 5px;
            overflow-x: hidden;
            color: #828282;
            font: normal, none, 500, 14px / 17px;
            
            span.super-host {
                display: flex;
                word-wrap: unset;
                align-items: center;
                justify-content: center;
                width: $super-host-width;
                height: $super-host-height;
                background-color: #0000;
                color: #4F4F4F;
                border: 2px solid #4F4F4F;
                border-radius: $super-host-border-radius;
                font: normal, none, 700, 12px / 15px;
                overflow: hidden;
            }
        }
        span.stars {
            display: flex;
            align-items: center;
            width: auto;
            overflow: hidden;
        }       
    }
    .description {
        display: flex;
        width: 100%;
        height: auto;

        p {
            display: block;
            width: auto;
            height: max-content;
        }
    }    
}
