

.component__wrapper {
    $translateY: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .loading__icon {
        $translateY: -100px;
        display: flex;
        width: 200px;
        aspect-ratio: 1 / 1;
        background: #ada;
        border: none;
        border-radius: 10px;
        transform: translateY(100px) rotate(45deg);
        animation: loading ease 4s infinite;
    }
    @keyframes loading {
        0% {
            transform: translateY($translateY) rotate(45deg) scale(1);
        }
        25% {
            transform: translateY($translateY) rotate(45deg) scale(.01);
            background: #ada;
        }
        26% {
            background: rgb(190, 161, 221);
        }
        50% {
            transform: translateY($translateY) rotate(225deg) scale(1);
        }
        75% {
            transform: translateY($translateY) rotate(225deg) scale(.01);
            background: rgb(190, 161, 221);
        }
        76% {
            background: #ada;
        }
        100% {
            transform: translateY($translateY) rotate(45deg) scaleX(1) scaleY(1);
        }
    }
}