.stay-location {
    margin-bottom: 25px;
    height: max-content;
}

.card-collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: max-content;
    gap: 35px;
}

