@import "/src/assets/settings";

.stay-location {
    margin-bottom: 25px;
    height: max-content;
}

.card-collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: max-content;
    gap: $gap-between-cards;
    padding-bottom: 5%;

    a {
        text-decoration: none;
        color: #333;
    }
}


@media screen and (width < $ipad_screen_width) {
    .card-collection {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (width < $phone_screen_width) {
    .card-collection {
        grid-template-columns: 1fr;
    }
}