$gap-between-cards: 20px;
$gap-within-card: 5px;

$card-border-radius: 24px;
$super-host-width: 100px;
$super-host-height: 28px;
$super-host-border-radius: 12px;

$search-btn-max-width: 125px;

$search-bar-width: 297px;
$search-bar-height: 55px;
$search-bar-border-radius: 16px;

$ipad_screen_width: 900px;
$phone_screen_width: 500px;

@mixin absolute__center {
    position: absolute;
    top: 50vw;
    left: 50vh;
    transform: translate(-50%, -50%);
}