@use "./constants.scss";

.stay-location {
    margin-bottom: 25px;
    height: max-content;
}

.card-collection {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: max-content;
    gap: 35px;
    flex-wrap: wrap;
}

