@use "./constants.scss";

.card-collection {
    display: flex;
    //grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
    padding: 0 3%;
    gap: 35px;
    flex-wrap: wrap;
}