.dropdown__wrapper {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    width: max-content;

    button.toggler {
        display: block;
        position: relative;
        padding: 10px;
        border: 1px solid #000;
        min-width: 10px;
        width: 100px;
        max-width: 100%;
        border-radius: 5px;
        background-color: #eee;
        cursor: pointer;
    }

    .selection {
        position: relative;
        
        & > .children {
            position: absolute;
            left: 1px;
            top: 8px;
            width: 100px;
            background: #fff;
            box-shadow: 0 0 5px #333;
        }
    }
}