.dropdown__wrapper {
    display: block;
    flex-direction: column;
    width: max-content;
    background: #fff;
    border: none;
    box-sizing: border-box;
    border-radius: none;

    button.toggler {
        display: flex;
        position: relative;
        border: inherit;
        border-radius: inherit;
        //padding: 5%;
        min-width: 10px;
        width: 100px;
        max-width: 100%;
        background-color: #fff;
        cursor: pointer;
    }

    .selection {
        position: relative;
        z-index: 9;

        & > .children {
            position: absolute;
            width: 100%;
            background: rgb(255, 255, 255);
            box-shadow: 0 0 5px #333;
        }
    }
}