.bg__filter {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: #0009;
    width: 100vw;
    height: 100vh;
}

.images__view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 5px;
    width: 80vw;
    height: 100vh;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 0 0 5px #444;
    
    @media screen and (max-width : 900px) {
        width: 95vw;
    }

    .images {
        overflow-y: auto;
        border-radius: inherit;

        img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: inherit;
            box-shadow: 0 0 5px #444;
        }
    }

    .close__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        aspect-ratio: 1 / 1;
        font-size: 1rem;
        padding: 4px;
        background: #0000;
        border: none;
        border-radius: 50%;
        color: #555;
        cursor: pointer;

        &:hover {
            background: #ddd;            
        }
    }
    
}